body{
  color: #7ca5b8; 
}

.n img{
  height: 450px;
  line-height:0;
  width: 350px;
}

.Logo{
  font-size: 70px;
  text-align: center;
}

.FormElement {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.FormElement input{
  background-color: #6f91a14e;
  border-radius: 25px;
  max-width: 200px;
  padding: 5px 10px; 
}

.FormElement label{
  font-size: 17px;
  margin-top: 10px;
}

.FormElement button{
   border-radius: 25px; 
   font-size: 20px;
   margin-top: 20px;
   padding: 5px 5px;
   width:150px;
}

.Logo {
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
  border-right: .15em solid rgb(74, 33, 98); 
  letter-spacing: .02em; 
  margin: 0 auto; 
  overflow: hidden;
  white-space: nowrap; 
}
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: rgb(26, 28, 36); }
  }

.PageWrapper{
  align-items: center;
  background-color: brown;
  border-radius: 290px;
  display: flex;
  filter: sepia();
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 50vw;
  min-height: 30vh;
  padding: 0px;  
}

.PageWrapper2{
  align-items: center;
  display: flex;
  filter: sepia();
  height: 100vh;
  justify-content: center;
  margin-left: 50px;
  opacity: 0.4;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.b{
  min-height: 20vh;
}

.p {
  height: 300px;
  margin-top: 10px;
  width: 220px;  
}

.Upload{
  display: flex; 
  columns: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.spacecontainer{
  columns: row;
  display: flex;
  justify-content: center;
}

.options{
  text-align: center;
}

.files{
  font-size: 15px;
  transition-duration: 0.4s;
  width: 20vw; 
}

.files:hover {
  background-color: #4CAF50; 
  color: white;
}

.options h1{
  font-size: 100px;
}

.createPostPage{
  background-color: black;
  display: flex;
  justify-content: center;
  width:50vw;
}


.NContainer{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding:90px;   
}

.createPostPage{
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 30vw;
}

input{
  height: 5vh;
}
textarea{
  height: 20vh;
  margin-top: 20px;
}

.Cbutton {
  height: 4vh;
  width:10vw;
  padding: 10px;
}

/* .Fortext{
  border: 9px solid green;
  display:flex;
  flex-direction: column;
}

.post{
  border: 2px solid blue;
  height: 20vh;
} */